@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
    background-image: url("https://stake.com/_app/immutable/assets/abstract-bg.71bdcaae.svg");
    background-size: cover;
    background-position: center;
}

.bg-stake-ft {
    background-image: url("https://stake.com/_app/immutable/assets/abstract-bg.71bdcaae.svg");
    background-size:contain;
    background-position: center;
    display: block;
}

.bg-color {
    background-color: rgb(15, 33, 46);
}

.bg-color-side {
    background-color: rgba(15, 33, 46, 0.13);
    opacity: revert;
}

.bg-body {
    background-color: rgba(10, 25, 30);
}

.display-contents-custom {
    display: contents;
}

